<div class="black">
  <h3>Carregamento de arquivo de Transações e Consulta de Transações</h3>
    <div class="text-center w-50 row" style="margin-left: 25px;margin-top: 50px;">
      <div class="col-sm">
        <input class="form-control" id="fileInput" type="file" 
                (change)="fileChanged($event)">
      </div>
      <div class="col-sm">
        <button (click)="salvarArquivo()" 
            class="btn btn-success">
            Upload
        </button>
      </div>
    </div>

    <div class="form-group row" style="margin-top: 100px;margin-left: 50px;">
      <div class="row col">
        <label class="white">Estabelecimentos: </label>
        <select class="form-control" id="selectEstabelecimentos" [(ngModel)]="estabelecimentoSelected">
          <option *ngFor="let estabelecimento of estabelecimentos" [ngValue]="estabelecimento">{{estabelecimento.nomeEstabelecimento}}</option>
        </select>
      </div>

      <div class="col row" style="margin-left: 50px;">
        <label class="white">Dono do Estabelecimento: </label>
        <input type="text" class="form-control white-backgroud" id="donoEstabelecimento" [(ngModel)]="estabelecimentoSelected.nomeDonoEstabelecimento" disabled>
      </div>

      <div class="col row" style="margin-left: 50px;">
        <label class="white">CPF: </label>
        <input type="text" class="form-control white-backgroud" id="cpf" [(ngModel)]="estabelecimentoSelected.cpfDonoEstabelecimento" mask="000.000.000-00" disabled>
      </div>
      <div class="col row" style="margin-left: 50px;margin-top: 25px;">
        <button class="btn btn-success" (click)="pesquisarTransacoes()">Pesquisar</button>
      </div>
    </div>

    <table id="tableTransacao" class="table table-striped table-hover" style="background-color:white;margin-top: 50px;">
      <thead>
        <tr>
          <td style="width: 30%; text-align: center;"><strong>Tipo da Transação</strong></td>
          <td style="width: 15%; text-align: center;"><strong>Data</strong></td>
          <td style="width: 20%; text-align: center;"><strong>Hora</strong></td>
          <td style="width: 10%; text-align: center;"><strong>Natureza da Transação</strong></td>
          <td style="width: 10%; text-align: center;"><strong>Valor</strong></td>
          <td style="width: 10%; text-align: center;"><strong>Cartão Utilizado</strong></td>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of transacao.dadosTransacao">
            <td style="width: 30%; text-align: center;">{{item.tipoTransacao}}</td>
            <td style="width: 15%; text-align: center;">{{item.data | date:'dd/MM/yyyy'}}</td>
            <td style="width: 20%; text-align: center;">{{item.hora}}</td>
            <td style="width: 10%; text-align: center;">{{item.naturezaTransacao}}</td>
            <td style="width: 10%; text-align: center;">{{item.valor}}</td>
            <td style="width: 10%; text-align: center;">{{item.cartao}}</td>
          </tr>
      </tbody>
    </table>
    <div id="saldo" class="w-25 row" style="margin-left: 50px;">
      <div class="col">
        <label class="white">Saldo Total: </label>
        <input type="text" class="form-control white-backgroud" id="donoEstabelecimento" [(ngModel)]="transacao.saldo" disabled>
      </div>
    </div>
</div>